.speaker-list-title{
    text-align: center;
    padding:100px 0px;
}
.speaker-list-title-text{
    font-size: 38px;
    color: #929699;
}
.speaker-list-title-subtext{
    font-size: 15px;
    color: #929699;
}
.speaker-list-session-title{
    text-align: center;
    font-size: 30px;
}