.profile-title{
    text-align: center;
    padding:100px 0px;
}
.profile-title-text{
    font-size: 38px;
    color: #929699;
}
.profile-title-subtext{
    font-size: 15px;
    color: #929699;
}
.profile-session-title{
    text-align: center;
    font-size: 30px;
}