.menu {
    margin:5px 0px;
    position:relative;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
.menu:hover{
    background-color: #00AAC4;
    color:black;
}
.direct{
    padding-top:15px;
}

.menu-outter{
    width:175px;
}
.inner{
    border: 1px solid white;
    padding:2px;
    display:block;
}
.indirect{
    display:block;
}