.menu {
  margin: 9px 0px;
  position: relative;
  background-color: #000;
  color: white;
  text-decoration: none;
}
.menu:hover {
  background-color: #00aac4;
  color: black;
}
.direct {
  padding-top: 15px;
}

.menu-outter {
  white-space: break-spaces;
  font-size: 20px;
  width: 175px;
}
.inner {
  border: 1px solid white;
  padding: 2px;
  display: block;
}
.indirect {
  display: block;
}
