.header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header-inner{
    padding:0 15%;
    background-color: black;
    justify-content: space-between;
    
    margin:0px;
    color:white;
    padding-bottom: 5px;
    margin:0 auto;
}
.logo_outter{
    color: black;
}
.HamburgerMenu{
    user-select: none;
    cursor: grab;
    display: block;
    width:150px;
    margin-top: 15px;
    color:white;
    text-decoration: none;
}
.toTop{
    display:block;
    text-decoration: none;
    color:white;
    background-color: gray;
    text-align: center;
    width:100%;
    padding:10px
}
.toTop:hover{
    background-color: aqua;
}