.header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header-inner{
    padding:0 15%;
    background-color: black;
    justify-content: space-between;
    margin:0px;
    color:white;
    padding-bottom: 5px;
    margin:0 auto;
}
.logo_outter{
    color: black;
    flex-wrap: nowrap;
    display: flex;
}
.HamburgerMenu{
    user-select: none;
    cursor: grab;
    display:inline-block;
    width:50px;
    margin-top: 15px;
    color:white;
    text-decoration: none;
}

.toTop:hover{
    background-color: aqua;
}

.footer-outter{
    background-color: black;
    display: flex;
}
.footer-item{
    font-size: small;
    text-decoration: none;
    color:white;
    display: block;
    width:20%;
}
.border-right{
    border-right: 1px solid white;
    padding:0px 5px;
}