.header{
    position: absolute;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.HamburgerMenu{
    user-select: none;
    cursor: grab;
    display:inline-block;
    width:50px;
    margin-top: 15px;
    color:white;
    text-decoration: none;
}

.toTop:hover{
    background-color: aqua;
}

.footer-outter{
    background-color: black;
    display: flex;
}
.footer-item{
    font-size: 20px;
    padding:10px;
    text-decoration: none;
    color:white;
    display: block;
    width:20%;
    
}
@media (max-width:500px) {
    .footer-item{
        font-size: small; 
        padding:0px;
    }
}
.border-right{
    border-right: 1px solid white;
    padding:0px 5px;
}